<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<head>  
  <title>MessageBoard</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Rumiko Nishikawa's Portfolio　message-board"/>
	<meta name="keywords" content="ruby rails bootstrap" />
	<meta name="author" content="Rumiko Nishikawa"/>

	
<meta property="og:title" content="Rumiko Nishikawa's Portfolio message\board"/>
	<meta property="og:description" content="Rumiko Nishikawa's Portfolio. I am learning the rails."/>
	<meta property="og:type" content="website Portfolio"/>
	<meta property="og:url" content="https://rumikonishikawa.github.io/"/>
	
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Message Board</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
